In [49]:
import pandas as pd
import numpy as np

### import and clean

In [ ]:
data_init = pd.read_csv("train-data/fight_data.csv")

In [51]:
data_init.head()

,Date,fighter1,fighter1_result,method_or_round,fighter2,Venue,Undercard fights,link,fighter1_record_wins,fighter1_record_draws,fighter1_record_losses,fighter2_record_wins,fighter2_record_draws,fighter2_record_losses,fighter1_height_cm,fighter2_height_cm,fighter1_ko_percentage,fighter2_ko_percentage
0,"Saturday, 3 May 2025",Canelo Alvarez,Winner,"UD, Round 12",William Scull,"The Venue, Riyadh, Saudi Arabia",Jaime Munguia Beat Bruno Surace (UD 12) \nMar...,https://box.live/fights/canelo-vs-scull/,62,2,2,23,0,0,175,182.0,0,0
1,"Saturday, 3 May 2025",Jukiya Iimura,Winner,"UD, Round 12",Esneth Domingo,"Korakuen Hall, Tokyo, Japan",NaN,https://box.live/fights/iimura-vs-domingo/,8,1,0,21,2,0,164,160.0,0,0
2,"Friday, 2 May 2025",Ryan Garcia,Loser,"UD, Round 12",Rolando ‘Rolly’ Romero,"Times Square, New York, NY, United States",Devin Haney Beat Jose Ramirez (UD 12) \nTeofi...,https://box.live/fights/garcia-vs-romero/,24,1,0,16,2,0,178,173.0,83,81
3,"Thursday, 1 May 2025",Kevin Lerena,Winner,"TKO, Round 3",Serhiy Radchenko,"Sunbet Arena, Pretoria, South Africa",NaN,https://box.live/fights/lerena-vs-radchenko/,30,3,0,11,7,0,185,186.0,47,45
4,"Sunday, 27 April 2025",Marlon Tapales,Winner,"RTD, Round 3",Jon Jon Jet,"General Santos City, Cotabato del Sur, Philipp...",NaN,https://box.live/fights/tapales-vs-jet/,39,4,0,15,1,1,163,166.0,0,0

In [52]:
df_essentials = data_init.drop(columns=['link','Venue','Date','Undercard fights','fighter1','fighter2'])
df_essentials.head(2)

,fighter1_result,method_or_round,fighter1_record_wins,fighter1_record_draws,fighter1_record_losses,fighter2_record_wins,fighter2_record_draws,fighter2_record_losses,fighter1_height_cm,fighter2_height_cm,fighter1_ko_percentage,fighter2_ko_percentage
0,Winner,"UD, Round 12",62,2,2,23,0,0,175,182.0,0,0
1,Winner,"UD, Round 12",8,1,0,21,2,0,164,160.0,0,0

In [53]:
df_staged_cleaning = df_essentials.copy()
df_staged_cleaning.head(2)

,fighter1_result,method_or_round,fighter1_record_wins,fighter1_record_draws,fighter1_record_losses,fighter2_record_wins,fighter2_record_draws,fighter2_record_losses,fighter1_height_cm,fighter2_height_cm,fighter1_ko_percentage,fighter2_ko_percentage
0,Winner,"UD, Round 12",62,2,2,23,0,0,175,182.0,0,0
1,Winner,"UD, Round 12",8,1,0,21,2,0,164,160.0,0,0

In [54]:
df_staged_cleaning['method_or_round'] = df_staged_cleaning['method_or_round'].str.split(' ')

In [55]:
last_rounds = [new_list[2] for new_list in df_staged_cleaning['method_or_round']][:]
df_staged_cleaning['round'] = last_rounds

df_staged_cleaning.head()

,fighter1_result,method_or_round,fighter1_record_wins,fighter1_record_draws,fighter1_record_losses,fighter2_record_wins,fighter2_record_draws,fighter2_record_losses,fighter1_height_cm,fighter2_height_cm,fighter1_ko_percentage,fighter2_ko_percentage,round
0,Winner,"[UD,, Round, 12]",62,2,2,23,0,0,175,182.0,0,0,12
1,Winner,"[UD,, Round, 12]",8,1,0,21,2,0,164,160.0,0,0,12
2,Loser,"[UD,, Round, 12]",24,1,0,16,2,0,178,173.0,83,81,12
3,Winner,"[TKO,, Round, 3]",30,3,0,11,7,0,185,186.0,47,45,3
4,Winner,"[RTD,, Round, 3]",39,4,0,15,1,1,163,166.0,0,0,3

In [56]:
df_staged_cleaning = df_staged_cleaning.drop(columns='method_or_round')
df_staged_cleaning.head()

,fighter1_result,fighter1_record_wins,fighter1_record_draws,fighter1_record_losses,fighter2_record_wins,fighter2_record_draws,fighter2_record_losses,fighter1_height_cm,fighter2_height_cm,fighter1_ko_percentage,fighter2_ko_percentage,round
0,Winner,62,2,2,23,0,0,175,182.0,0,0,12
1,Winner,8,1,0,21,2,0,164,160.0,0,0,12
2,Loser,24,1,0,16,2,0,178,173.0,83,81,12
3,Winner,30,3,0,11,7,0,185,186.0,47,45,3
4,Winner,39,4,0,15,1,1,163,166.0,0,0,3

### copy over data frame and swap values

In [57]:
df_staged_swapping = df_staged_cleaning.copy()

In [58]:
fighter2_wins_temp = df_staged_swapping['fighter2_record_wins'].copy()
fighter2_draws_temp = df_staged_swapping['fighter2_record_draws'].copy()
fighter2_losses_temp = df_staged_swapping['fighter2_record_losses'].copy()
fighter2_height_cm_temp = df_staged_swapping['fighter2_height_cm'].copy()
fighter2_ko_percentage_temp = df_staged_swapping['fighter2_ko_percentage'].copy()

In [59]:
df_staged_swapping['fighter2_record_wins'] = df_staged_swapping['fighter1_record_wins']
df_staged_swapping['fighter2_record_draws'] = df_staged_swapping['fighter1_record_draws']
df_staged_swapping['fighter2_record_losses'] = df_staged_swapping['fighter1_record_losses']
df_staged_swapping['fighter2_height_cm'] = df_staged_swapping['fighter1_height_cm']
df_staged_swapping['fighter2_ko_percentage'] = df_staged_swapping['fighter1_ko_percentage']

In [60]:
df_staged_swapping['fighter1_record_wins'] = fighter2_wins_temp
df_staged_swapping['fighter1_record_draws'] = fighter2_draws_temp
df_staged_swapping['fighter1_record_losses'] = fighter2_losses_temp
df_staged_swapping['fighter1_height_cm'] = fighter2_height_cm_temp
df_staged_swapping['fighter1_ko_percentage'] = fighter2_ko_percentage_temp

In [61]:
def reverse_results(rowval) : 
    if rowval == 'Winner' :
        return 'Loser'
    elif rowval == 'Loser' :
        return 'Winner'
    else :
        return 'Draw'

In [62]:
df_staged_swapping['fighter1_result'] = df_staged_swapping['fighter1_result'].apply(reverse_results)

In [63]:
# entire function to swap values
def swap_fighters() :
    df_staged_swapping = df_staged_cleaning.copy()
    
    fighter2_wins_temp = df_staged_swapping['fighter2_record_wins'].copy()
    fighter2_draws_temp = df_staged_swapping['fighter2_record_draws'].copy()
    fighter2_losses_temp = df_staged_swapping['fighter2_record_losses'].copy()
    fighter2_height_cm_temp = df_staged_swapping['fighter2_height_cm'].copy()
    fighter2_ko_percentage_temp = df_staged_swapping['fighter2_ko_percentage'].copy()

    df_staged_swapping['fighter2_record_wins'] = df_staged_swapping['fighter1_record_wins']
    df_staged_swapping['fighter2_record_draws'] = df_staged_swapping['fighter1_record_draws']
    df_staged_swapping['fighter2_record_losses'] = df_staged_swapping['fighter1_record_losses']
    df_staged_swapping['fighter2_height_cm'] = df_staged_swapping['fighter1_height_cm']
    df_staged_swapping['fighter2_ko_percentage'] = df_staged_swapping['fighter1_ko_percentage']

    df_staged_swapping['fighter1_record_wins'] = fighter2_wins_temp
    df_staged_swapping['fighter1_record_draws'] = fighter2_draws_temp
    df_staged_swapping['fighter1_record_losses'] = fighter2_losses_temp
    df_staged_swapping['fighter1_height_cm'] = fighter2_height_cm_temp
    df_staged_swapping['fighter1_ko_percentage'] = fighter2_ko_percentage_temp

    def reverse_results(rowval) : 
        if rowval == 'Winner' :
            return 'Loser'
        elif rowval == 'Loser' :
            return 'Winner'
        else :
            return 'Draw'
        
    df_staged_swapping['fighter1_result'] = df_staged_swapping['fighter1_result'].apply(reverse_results)

In [64]:
df_staged_cleaning

,fighter1_result,fighter1_record_wins,fighter1_record_draws,fighter1_record_losses,fighter2_record_wins,fighter2_record_draws,fighter2_record_losses,fighter1_height_cm,fighter2_height_cm,fighter1_ko_percentage,fighter2_ko_percentage,round
0,Winner,62,2,2,23,0,0,175,182.0,0,0,12
1,Winner,8,1,0,21,2,0,164,160.0,0,0,12
2,Loser,24,1,0,16,2,0,178,173.0,83,81,12
3,Winner,30,3,0,11,7,0,185,186.0,47,45,3
4,Winner,39,4,0,15,1,1,163,166.0,0,0,3
5,Winner,34,3,0,23,0,0,180,173.0,74,61,12
6,Winner,8,0,1,23,6,1,191,183.0,63,43,2
7,Winner,17,0,0,26,2,1,176,NaN,0,0,12
8,Winner,15,0,0,19,0,1,175,160.0,0,0,7
9,Draw,15,0,0,23,6,0,175,178.0,0,0,10
10,Winner,35,5,1,22,4,0,183,185.0,83,59,7
11,Winner,6,0,0,14,2,0,175,175.0,0,0,10

In [65]:
df_staged_swapping

,fighter1_result,fighter1_record_wins,fighter1_record_draws,fighter1_record_losses,fighter2_record_wins,fighter2_record_draws,fighter2_record_losses,fighter1_height_cm,fighter2_height_cm,fighter1_ko_percentage,fighter2_ko_percentage,round
0,Loser,23,0,0,62,2,2,182.0,175,0,0,12
1,Loser,21,2,0,8,1,0,160.0,164,0,0,12
2,Winner,16,2,0,24,1,0,173.0,178,81,83,12
3,Loser,11,7,0,30,3,0,186.0,185,45,47,3
4,Loser,15,1,1,39,4,0,166.0,163,0,0,3
5,Loser,23,0,0,34,3,0,173.0,180,61,74,12
6,Loser,23,6,1,8,0,1,183.0,191,43,63,2
7,Loser,26,2,1,17,0,0,NaN,176,0,0,12
8,Loser,19,0,1,15,0,0,160.0,175,0,0,7
9,Draw,23,6,0,15,0,0,178.0,175,0,0,10
10,Loser,22,4,0,35,5,1,185.0,183,59,83,7
11,Loser,14,2,0,6,0,0,175.0,175,0,0,10